<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
        <p>body = <%=request.body%></p>
        <p>url = <%=request.url%></p>
        <p>port = <%=request.port%></p>
        <p>scheme = <%=request.scheme%></p>
        <p>script_name = <%=request.script_name%></p>
        <p>path_info = <%=request.path_info%></p>
        <p>request_method = <%=request.request_method%></p>
        <p>content_length = <%=request.content_length%></p>
        <p>media_type = <%=request.media_type%></p>
        <p>host = <%=request.host%></p>
        <p>get? = <%=request.get?%></p>
        <p>form_data? = <%=request.form_data?%></p>
        <p>referer = <%=request.referer%></p>
        <p>user_agent = <%=request.user_agent%></p>
        <p>cookies = <%=request.cookies%></p>
        <p>xhr? = <%=request.xhr?%></p>
        <p>url = <%=request.url%></p>
        <p>path = <%=request.path%></p>
        <p>ip = <%=request.ip%></p>
        <p>secure? = <%=request.secure?%></p>
    </body>
</html>
